DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=conexa
JWT_SECRET=supersecretjwtkey
JWT_EXPIRES_IN=1d
PORT=3000
SEED_ADMIN_EMAIL=admin@conexa.com
SEED_ADMIN_PASSWORD=admin123
SEED_USER_EMAIL=user@conexa.com
SEED_USER_PASSWORD=user123
